/* FONT CDN */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* PAGE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #101922;
}

/* PAGE SETTINGS */
.portfolio-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: #101922;
  color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
}

/* SIDEBAR STYLE */
.sidebar-ctn {
  width: 12%;
  min-width: 10%;
  max-width: 14%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #1a242d;
  border-right: 1px solid #283139;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar-top-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sidebar-img-and-headings-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #283139;
}

.sidebar-img-ctn {
  width: 80px;
  height: 80px;
  border-radius: 50rem;
}

.sidebar-img-ctn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50rem;
}

.sidebar-headings-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.username-ctn h1 {
  font-size: 1rem;
}

.user-role-ctn p {
  color: #aba4a1;
  font-size: 0.8rem;
}

.sidebar-nav-btn-links-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  row-gap: 1rem;
}

.sidebar-nav-btn-link-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar-nav-btn-icon-ctn span {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1268be;
}

.sidebar-nav-btn-links-ctn a {
  text-decoration: 0;
  color: #e3e3e3;
}

.sidebar-bottom-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #283139;
  padding: 0.5rem 1rem;
}

.sidebar-bottom-ctn p {
  font-size: 0.8rem;
  color: #aba4a1;
}

/* MAIN PAGE STYLE */
.main-page-ctn {
  width: 88%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #101922;
}

/* SM AND CHAT BTN STYLE */
.chat-btn-and-sm-link-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sm-links-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}

.sm-links-ctn img {
  width: 1.5rem;
  height: 1.5rem;
}

.chat-btn-ctn {
  width: fit-content;
  height: auto;
}

.chat-btn-link-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.chat-btn-link-ctn i {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}
*/

/* HERO STYLE */
.hero-ctn {
  width: 100%;
  height: auto;
  background-color: #101922;
  color: #ffffff;
}

.hero-headings-btn-and-img-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  padding: 6rem;
  border-bottom: 1px solid #283139;
}

.hero-headings-and-btn-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.hero-heading-ctn {
  width: fit-content;
  height: auto;
}

.hero-heading-ctn h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

.hero-sub-heading-ctn {
  width: fit-content;
  height: auto;
}

.hero-sub-heading-ctn p {
  font-size: 1.15rem;
  color: #aba4a1;
}

.hero-btn-ctn {
  width: fit-content;
  height: auto;
  border-radius: 0.5rem;
}

.hero-btn-ctn button {
  background-color: #1268be;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.65rem 1rem;
  border: 0;
}

.hero-img-ctn {
  width: fit-content;
  height: auto;
  border-radius: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img-ctn img {
  width: 80%;
  height: 80%;
  border-radius: 50rem;
}

/* ABOUT STYLE */
.about-me-ctn {
  width: 100%;
  height: 100vh;
  background-color: #101922;
  padding: 6rem;
  border-bottom: 1px solid #283139;
}

.about-me-headings-and-img-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  column-gap: 1rem;
}

.about-me-headings {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
  row-gap: 1rem;
}

.about-me-heading h1 {
  font-size: 2rem;
}

.about-me-text p {
  font-size: 1.15rem;
  color: #aba4a1;
  text-align: left;
}

.about-me-img-ctn {
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-img-ctn img {
  width: 80%;
  height: 80%;
  border-radius: 1rem;
}

/* FEATURED PROJECT STYLE */
.projects-ctn {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #283139;
}

.projects-ctn-heading-and-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
  padding: 6rem;
}

.projects-heading-ctn h1 {
  font-size: 2rem;
}

.project-title p {
  font-size: 1.15rem;
  color: #aba4a1;
  text-align: left;
}

.projects-portfolio-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 2rem;
}

.projects-content-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  cursor: pointer;
}

.project-img-ctn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.project-img-ctn img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* TECH STACK STYLE */
.tech-stack-ctn {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #283139;
}

.tech-stack-heading-and-content-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
  padding: 6rem;
}

.tech-stack-content-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 4rem;
}

.tech-stack-heading-ctn h1 {
  font-size: 2rem;
}

.tech-stack-img-ctn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.tech-stack-img-ctn img {
  width: 100%;
  height: 100%;
}

.git-hub-logo{
  width: 100%;
  height: 100%;
}

.git-hub-logo img{
  width: 100%;
  height: 100%;
}
