/* FONT CDN */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* PAGE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
  font-family: "Outfit", sans-serif;
}

/* PAGE SETTINGS */
.portfolio-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: #101922;
  color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  
}

/* SIDEBAR STYLE */
.sidebar-ctn {
  width: 12%;
  min-width: 10%;
  max-width: 14%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #1a242d;
  border-right: 1px solid #283139;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar-top-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sidebar-img-and-headings-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #283139;
}

.sidebar-img-ctn {
  width: 90px;
  height: 90px;
  border-radius: 50rem;
}

.sidebar-img-ctn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50rem;
}

.sidebar-headings-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.username-ctn h1 {
  font-size: 1.2rem;
}

.user-role-ctn p {
  color: #aba4a1;
  font-size: 0.85rem;
}

.sidebar-nav-btn-links-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  row-gap: 1rem;
}

.sidebar-nav-btn-link-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar-nav-btn-icon-ctn span {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1268be;
}

.sidebar-nav-btn-links-ctn a {
  text-decoration: 0;
  color: #e3e3e3;
}

.sidebar-bottom-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #283139;
  padding: 0.5rem 1rem;
}

.sidebar-bottom-ctn p {
  font-size: 0.8rem;
  color: #aba4a1;
}

/* SM LINKS STYLE */
.sm-links-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.sm-links-ctn img {
  width: 1.5rem;
  height: 1.5rem;
}

.chat-btn-ctn {
  width: fit-content;
  height: auto;
  position: fixed;
  top: 1rem;
  left: 12.8rem;
}

.chat-btn-link-ctn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.chat-btn-link-ctn i {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* MAIN PAGE STYLE */
.pages-ctn {
  width: 86%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

/* HERO STYLE */
.hero-ctn {
  width: 100%;
  height: fit-content;
  padding: 3rem;
}

.hero-headings-btn-and-img-ctn {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}

.hero-headings-and-btn-ctn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.hero-heading-ctn {
  width: fit-content;
  height: auto;
}

.hero-heading-ctn h1 {
  font-size: 3.5rem;
}

.hero-sub-heading-ctn {
  width: fit-content;
  height: auto;
}

.hero-sub-heading-ctn p {
  font-size: 1.2rem;
  color: #aba4a1;
}

.hero-btn-ctn {
  width: fit-content;
  height: auto;
  border-radius: 0.5rem;
}

.hero-btn-ctn button {
  background-color: #1268be;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.65rem 1rem;
  border: 0;
}
